<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Dany Joly" />
   <meta name="readability-verification" content=""/>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Dany Joly</a>
    <a class="extra" href="/">home</a>
    <a class="extra" href="/about">about</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Dany Joly
        <br />
        Cofounder of
          <a href="https://ululab.com/">Ululab</a>,
        <br />
        jolydany@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/DanyJoly/">github.com/DanyJoly</a><br />
        <a href="https://www.linkedin.com/in/dany-joly-b2971a21/">LinkedIn</a><br />
      </p>
    </div>
  </div>
</div>

</body>
</html>
